---
layout: default
title: Home
---
{% comment %} Lookup the newes post for the frontpage category {% endcomment %}
{% assign seen_top=false %}
{% for post in site.posts %}
  {% if seen_top == false %}
    {% for cat in post.categories %}
      {% if cat == "frontpage" %}
      {% assign seen_top=true %}
<article>
  <section>
    <h1>{{ post.title }}</h1>
    {{ post.content }}
  </section>
</article>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<section>
<h1>Blog Posts</h1>
  <ul class=posts>
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>
